<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">기기 동작 로그</h4>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0 text-center">시설</th>
                    <th class="border-top-0 text-center">기기</th>
                    <th class="border-top-0 text-center">동작</th>
                    <th class="border-top-0 text-center">상태</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">시설A</td>
                    <td class="text-center">로봇</td>
                    <td>요청 접수</td>
                    <td class="text-center">
                        <label class="label label-info">정상</label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">시설B</td>
                    <td class="text-center">로봇</td>
                    <td>낙상 감지</td>
                    <td class="text-center">
                        <label class="label label-info">정상</label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">시설C</td>
                    <td class="text-center">센서</td>
                    <td>오동작 감지</td>
                    <td class="text-center">
                        <label class="label label-danger">이상</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>