<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">최근 요청 내역</h4>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0 text-center">시설</th>
                    <th class="border-top-0 text-center">요청자</th>
                    <th class="border-top-0 text-center">내용</th>
                    <th class="border-top-0 text-center">처리</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">시설A</td>
                    <td class="text-center">유재석</td>
                    <td>택시 호출</td>
                    <td class="text-center">
                        <label class="label label-danger">완료</label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">시설B</td>
                    <td class="text-center">이효리</td>
                    <td>반찬 배달</td>
                    <td class="text-center">
                        <label class="label label-info">진행</label>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">시설C</td>
                    <td class="text-center">정재훈</td>
                    <td>택시 호출</td>
                    <td class="text-center">
                        <label class="label label-success">접수</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>