<div class="row">
  <div class="col-md-4 col-lg-3" *ngFor='let cctv of cctvs'>
      <div class="card">
          <div class="card-body text-center" style="padding:5px;">
              <div class="profile-pic m-b-10">
                  <img
                      src="assets/images/users/{{ cctv.id }}.jpg"
                      width="100%"
                      alt="cctv"/>
                  <h4 class="m-t-20 m-b-5">{{ cctv.datetime }}</h4>
                  <p class="text-muted m-b-5">{{ cctv.desc }}</p>
                  <p class="text-muted">{{ cctv.center }}</p>
              </div>
          </div>
      </div>
  </div>
</div>