<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline timeline-left">
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <img src="assets/images/users/1.jpg" alt="img" class="img-fluid"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">반찬 배달 요청</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>3분 전
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>반찬 배달 요청 / 김모모</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <img src="assets/images/users/2.jpg" alt="img" class="img-fluid"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">낙상 사고 발생</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>12/7 10:12
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>낙상 발생 및 응급 호출 / 윤모모</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <img src="assets/images/users/3.jpg" alt="img" class="img-fluid"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">신규 이용자 등록</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>11/15 15:10
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>박모모 / 여성 / 64세</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted timeline-item">
                        <div class="timeline-badge success">
                            <img src="assets/images/users/4.jpg" alt="img" class="img-fluid"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">로봇A 이상 감지</h4>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>10/30 14:23
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>00 구동부 이상 감지</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>