<div class="card">
    <div class="card-body">
        <h4 class="card-title">질병/위험 정보</h4>
    </div>
    <div class="comment-widgets" [perfectScrollbar]="config">
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row m-t-0">
            <a class="btn btn-circle btn-danger btn-lg text-white">건</a>
            <div class="comment-text w-100">
                <h6 class="font-medium">건조 주의보</h6>
                <span class="m-b-15 d-block">화재 위험이 높습니다</span>
                <div class="comment-footer">
                    <span class="text-muted float-right">2020년 12월 8일</span>
                </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row m-t-0">
            <a class="btn btn-circle btn-info btn-lg text-white">한</a>
            <div class="comment-text w-100">
                <h6 class="font-medium">한파 주의보</h6>
                <span class="m-b-15 d-block">심혈관 질환 발생 가능성이 높습니다</span>
                <div class="comment-footer">
                    <span class="text-muted float-right">2020년 12월 6일</span>
                </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row m-t-0">
            <a class="btn btn-circle btn-warning btn-lg text-white">황</a>
            <div class="comment-text w-100">
                <h6 class="font-medium">미세먼지 - 높음</h6>
                <span class="m-b-15 d-block">호흡기 질환 주의</span>
                <div class="comment-footer">
                    <span class="text-muted float-right">2020년 12월 5일</span>
                </div>
            </div>
        </div>
    </div>
</div>