<div class="row">
    <div class="col-sm-3" *ngFor='let activity of activities'>
        <div class="card">
            <div class="card-body text-center">
                <div class="profile-pic m-b-10 m-t-20">
                    <img
                        src="assets/images/users/{{ activity.photo }}"
                        width="100%"
                        alt="activity"/>
                    <h4 class="m-t-20 m-b-5">{{ activity.datetime }}</h4>
                    <p class="text-muted m-b-5">{{ activity.name }}</p>
                    <p class="text-muted">{{ activity.center }}</p>
                </div>
            </div>
        </div>
    </div>
</div>