<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<app-info-card></app-info-card>
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<app-sales></app-sales>
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-6">
        <app-topsell></app-topsell>
    </div>
    <div class="col-sm-6">
        <app-topsells></app-topsells>
    </div>
</div>
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-6">
        <app-topsellss></app-topsellss>
    </div>
    <!-- column -->
    <div class="col-sm-6">
        <app-comment></app-comment>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->

