.top-navbar{
    min-height:100px;
    .navbar-header{
        height:100px;
        .navbar-brand {
            display:inline-block;
            width:100%; height:100%;
            box-sizing: border-box;
            padding:15px 0;
            .logoImage {
                display:inline-block;
                height:100%; 
                width:100%;
                background: url(../../../assets/images/unicom.png) no-repeat center center / contain;
                
            }
        }
    }
}