<div class="row">
  <div class="col-md-12">
    <div class="card">
        <img class="card-img-top" src="assets/images/img3.jpg" alt="Card image cap" style="max-height: 300px">
        <div class="card-img-overlay">
            <div class="text-white text-center">
              <img
                          src="assets/images/users/1.jpg"
                          width="150"
                          class="rounded-circle m-b-10"
                          alt="user"/>
                <br>
                <h2>김모모</h2>
                <h3>시설A</h3>
            </div>
        </div>
        <div class="card-footer bg-white">
          <div class="form-group row">
            <label for="fname" class="col-sm-2 text-right control-label col-form-label">주소</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fname" value="경북 김천시 혁신8로 5">
            </div>
            <label for="fname" class="col-sm-2 text-right control-label col-form-label">보호자 이름</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fname" value="김근찬">
            </div>
          </div>
          <div class="form-group row">
            <label for="fname" class="col-sm-2 text-right control-label col-form-label">연락처</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fname" value="010-4582-6949">
            </div>
            <label for="fname" class="col-sm-2 text-right control-label col-form-label">보호자 연락처</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fname" value="010-2927-2966">
            </div>
          </div>
          <div class="form-group row">
            <label for="fname" class="col-sm-2 text-right control-label col-form-label">나이</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fname" value="74">
            </div>
            <label for="fname" class="col-sm-2 text-right control-label col-form-label">특이사항</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fname" value="좌측 시력">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <button type="button" class="btn btn-block btn-outline-info p-t-10 p-b-10">연락</button>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-block btn-outline-danger p-t-10 p-b-10">응급 요청</button>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-block btn-outline-warning p-t-10 p-b-10">돌봄 서비스 신청</button>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-block btn-outline-success p-t-10 p-b-10">이동 지원</button>
  </div>
</div>  

<div class="row m-t-20">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
          <!-- title -->
          <div class="d-md-flex align-items-center">
              <div>
                  <h4 class="card-title">요청 이력</h4>
              </div>
          </div>
          <!-- title -->
      </div>
      <div class="table-responsive">
          <table class="table v-middle">
              <thead>
                  <tr class="bg-light">
                      <th class="border-top-0 text-center">날짜</th>
                      <th class="border-top-0 text-center">상태</th>
                      <th class="border-top-0 text-center">채널</th>
                      <th class="border-top-0 text-center">내용</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">12/01</td>
                  <td class="text-center">
                      <label class="label label-success">진행중</label>
                  </td>
                  <td class="text-center">관리자</td>
                  <td>택시 호출</td>
                </tr>
                <tr>
                  <td class="text-center">11/30</td>
                  <td class="text-center">
                      <label class="label label-success">진행중</label>
                  </td>
                  <td class="text-center">관리자</td>
                  <td>병원 동행</td>
                </tr>
                <tr>
                  <td class="text-center">11/28</td>
                  <td class="text-center">
                      <label class="label label-danger">취소</label>
                  </td>
                  <td class="text-center">로봇</td>
                  <td>노래 검색</td>
                </tr>
                <tr>
                  <td class="text-center">11/15</td>
                  <td class="text-center">
                      <label class="label label-info">완료</label>
                  </td>
                  <td class="text-center">로봇</td>
                  <td>병원 동행</td>
                </tr>
                <tr>
                  <td class="text-center">11/01</td>
                  <td class="text-center">
                      <label class="label label-success">진행중</label>
                  </td>
                  <td class="text-center">로봇</td>
                  <td>택시 호출</td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
          <!-- title -->
          <div class="d-md-flex align-items-center">
              <div>
                  <h4 class="card-title">응급 돌봄 이력</h4>
              </div>
          </div>
          <!-- title -->
      </div>
      <div class="table-responsive">
          <table class="table v-middle">
              <thead>
                  <tr class="bg-light">
                      <th class="border-top-0 text-center">날짜</th>
                      <th class="border-top-0 text-center">응급상황</th>
                      <th class="border-top-0 text-center">처리내용</th>
                      <th class="border-top-0 text-center">비고</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">12/01</td>
                  <td>넘어짐</td>
                  <td class="text-center">시설 응급 처치</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">11/30</td>
                  <td>넘어짐</td>
                  <td class="text-center">시설 응급 처치</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">11/28</td>
                  <td>끼임</td>
                  <td class="text-center">시설 응급 처치</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">11/15</td>
                  <td>쓰러짐</td>
                  <td class="text-center">병원 이송</td>
                  <td>급성 빈혈</td>
                </tr>
                <tr>
                  <td class="text-center">11/01</td>
                  <td>부딪힘</td>
                  <td class="text-center">병원 이송</td>
                  <td></td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>